@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

div.bottom-nav-box {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 30;
  background: #FFFFFF 0% 0% no-repeat padding-box;

  .bottom-nav-box-divider {
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
  }

  .bottom-nav-box-icons {
    // margin: 0 16px;
    padding: 0 20px;
    height: 42px;
    // width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    .bottom-nav-box-icon {
      flex:1;
      text-align: center;
      svg {
        width: 28px;
        height: 28px;
      }
    }

    .selected {
      svg g path {
        fill: black;
      }
    }
  }
}