
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


div.nav-box {
  display: block;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

div.nav-box-up {
  padding: 10px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media only screen {
  div.nav-box-title {
    font: normal normal bold 40px/48px Roboto;
    letter-spacing: 12px;
  }
}

@media only screen and (max-width: 400px) {
  div.nav-box-title {
    font: normal normal bold 22px/48px Roboto;
    letter-spacing: 5px;
  }
}

div.nav-box-title {
  // padding: 0 0 0 16px;
  text-align: left;
  /* font: normal normal bold 40px/48px Roboto; */
  color: #191919;
  opacity: 1;
}

div.nav-box-setting {
  width: 18px;
  height: 18px;
}

div.nav-box-setting svg path {
  fill: transparent;
  stroke: black;
  stroke-width: 10;
}