

div.nav-box {
  display: block;
  background: #F1F2F6 0% 0% no-repeat padding-box;
}

div.nav-box-up {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.nav-box-title {
  text-align: left;
  font: normal normal bold 40px/48px Roboto;
  letter-spacing: 12px;
  color: #191919;
  opacity: 1;
}

div.nav-box-setting {
  width: 36px;
  height: 36px;
}

div.nav-box-setting svg path {
  fill: transparent;
  stroke: black;
  stroke-width: 10;
}

div.nav-box-tab {
  margin: 32px 0 0 0;
  padding: 0 32px 10px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: normal normal bold 30px/45px Noto Sans CJK KR;
  color: #767676;
}

div.nav-box-tab-selected {
  font: normal normal bold 34px/41px Roboto;
  color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.nav-box-tab-selected-deco {
  width: 68px;
  height: 6px;
  background: #191919 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  bottom: -10px;
}