// .ios-segmented-control {
//   --background: rgba(239,239,240,1);
//   background: var(--background);
//   border-radius: 9px;
//   margin: 0;
//   padding: 2px;
//   border: none;
//   outline: none;
//   display: grid;
//   grid-auto-flow: column;
//   grid-auto-columns: 1fr;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// .ios-segmented-control .option {
//   position: relative;
//   cursor: pointer;
// }
// .ios-segmented-control .option:hover input:not(:checked) + label span, .ios-segmented-control .option:active input:not(:checked) + label span, .ios-segmented-control .option:focus input:not(:checked) + label span {
//   opacity: .2;
// }
// .ios-segmented-control .option:active input:not(:checked) + label span {
//   transform: scale(.95);
// }
// .ios-segmented-control .option label {
//   position: relative;
//   display: block;
//   text-align: center;
//   padding: 3px 6vmin;
//   background: rgba(255,255,255,0);
//   font-weight: 500;
//   color: rgba(0,0,0,1);
//   font-size: 14px;
// }
// .ios-segmented-control .option label::before, .ios-segmented-control .option label::after {
//   content: '';
//   width: 1px;
//   background: rgba(142,142,147,.15);
//   position: absolute;
//   top: 14%;
//   bottom: 14%;
//   border-radius: 10px;
//   will-change: background;
//   -webkit-transition: background .2s ease;
//   transition: background .2s ease;
// }
// .ios-segmented-control .option label::before {
//   left: 0;
//   transform: translateX(-.5px);
// }
// .ios-segmented-control .option label::after {
//   right: 0;
//   transform: translateX(.5px);
// }
// .ios-segmented-control .option:first-of-type {
//   grid-column: 1;
//   grid-row: 1;
//   box-shadow: none;
// }
// .ios-segmented-control .option:first-of-type label::before {
//   opacity: 0;
// }
// .ios-segmented-control .option:last-of-type label::after {
//   opacity: 0;
// }
// .ios-segmented-control .option input {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   padding: 0;
//   margin: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   outline: none;
//   border: none;
//   opacity: 0;
// }
// .ios-segmented-control .selection {
//   background: rgba(255,255,255,1);
//   border: .5px solid rgba(0,0,0,0.04);
//   box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
//   border-radius: 7px;
//   grid-column: 1;
//   grid-row: 1;
//   z-index: 2;
//   will-change: transform;
//   -webkit-transition: transform .2s ease;
//   transition: transform .2s ease;
// }
// .ios-segmented-control .option label span {
//   display: block;
//   position: relative;
//   z-index: 2;
//   -webkit-transition: all .2s ease;
//   transition: all .2s ease;
//   will-change: transform;
// }
// .ios-segmented-control .option input:checked+label::before, .ios-segmented-control .option input:checked+label::after {
//   background: var(--background);
//   z-index: 1;
// }
// .ios-segmented-control .option input:checked+label {
//   cursor: default;
// }

.selected-item {
  text-align: center;
}

.controls {
  font: normal normal bold 12px Noto Sans KR;
  display: inline-flex;
  justify-content: space-between;
  background: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 32px;
  padding: 0 4px 0 4px;
  // max-width: 500px;
  // padding: 12px;
  margin: auto;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.controls input {
  opacity: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.segment {
  /* width: 100%; uncomment for each segment to have matching width */
  // width: 100%;
  min-width: 50px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.segment label {
  cursor: pointer;
  // display: block;
  font-weight: 700;
  padding: 4px;
  color: #a2a5a9;
  transition: color 0.5s ease;
}

.segment.active label {
  color: #454c52;
}

.controls::before {
  content: "";
  background: #fff;
  font: normal normal bold 12px Noto Sans KR;
  box-shadow: 0 0 5px 0 rgba(69, 76, 82, 0.12);
  border-radius: 5px;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 4px;
  bottom: 4px;
  // padding: ;
  left: 0;
  z-index: 0;
}

/* Only allow transitions once component is ready */
.controls.ready::before {
  transition: transform 0.3s ease, width 0.3s ease;
}
