
// div.nav-box-divider {
//   height: 1px;
//   background: #DBDBDB 0% 0% no-repeat padding-box;
//   opacity: 1;
// }

// @media only screen {
//   div.issues-title {
//     font: normal normal bold 24px/36px Noto Sans KR;
//   }
// }

// @media only screen and (max-width: 400px) {
//   div.issues-title {
//     font: normal normal bold 20px/36px Noto Sans KR;
//   }
// }

// div.issues-title {
//   padding: 16px 0 8px 16px;
// }

// div.issues-area {
//   /* padding: 16px; */
//   /* overflow: auto; */
//   height: 82px;
//   overflow: auto;
//   overflow-y: hidden;
//   /* overflow-y: hidden; */
//   /* width: 100%; */
//   /* width: 100%; */
//   /* overflow-x: hidden; */
//   /* overflow-x: scroll; */

// }

// div.issues-area-wrap {
//   /* overflow: hidden; */
//   padding: 0px 8px 0 16px;
//   display: flex;
//   /* align-items: center; */
//   overflow-x: auto;
//   /* overflow: hidden; */
//   /* width: 100%; */
//   scroll-behavior: smooth;
//   padding-bottom: 30px;
//   /* flex-wrap: nowrap; */

// }